.hero{
    background-color: #2B2B2B;
    padding: 40px 0;
    &__title{
        color: #FFF;
        font-size: 28px;
        line-height: 40px;
        font-weight: 600;
    }
    &__desc{
        color: #FFF;
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
    }
    &__cards{
        margin-top: 40px;
    }
    &__card{
        background-color: #3B3B3B;
        border-radius: 30px;
        &-img{
            width: 100%;
        }
    }
    &__card--info{
        padding: 20px;
        color: #FFF;
        .hero__card--title{
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
        }
        .hero__card--avatar{
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    &__btns{
        margin-top: 40px;
        &-btn{
            padding: 19px 95px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            background-color: #A259FF;
            color: #FFF;
            font-size: 17px;
            font-weight: 600;
            border-radius: 20px;
            border: 2px solid transparent;
            
        }
    }
}


.navbar{
    background-color: #2B2B2B;

}

.navbar__in{
    padding: 80px 0;
    display: flex;
    gap: 30px;
    color: #FFF;


    .navbar__left{
        .navbar__left--title{
            font-size: 67px;
            font-weight: 600;
        }

        .navbar__left--desc{
            margin-top: 20px;
            font-size: 22px;
            line-height: 22px;
            max-width: 500px;
        }

        .navbar__left--btn{
            margin-top: 30px;
            button{
                display: flex;
                align-items: center;
                gap: 12px;
                background-color: #A259FF;
                border: 2px solid transparent;
                color: #fff;
                border-radius: 20px;
                padding: 19px 50px;

            }
        }

        .navbar__left--statistics{
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap:60px;

            h3{
                font-size: 28px;
                font-weight: 700;
            }
            p{
                font-size: 24px;
                font-weight: 400;
            }
        }
    }


    .navbar__right{
        .navbar__right--card{
            background-color: #3B3B3B;
            border-radius: 20px;
        }
        .navbar__card--info{
            padding: 22px 20px;
            h3{
                font-size: 22px;
                font-weight: 600;
            }
            .navbar__card--desc{
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

    }

}
.main{
    .navbar{
        display: none;
    }
}

.collections{
    background-color: #2B2B2B;
}

.collections__in{
    padding: 80px 0;
    color: #FFF;
    .collections__title{
        font-size: 38px;
        font-weight: 600;
    }

    .collections__desc{
        font-size: 22px;
        font-weight: 400;
        margin-top: 10px;
    }

    .collections__cards{
        margin-top: 60px;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;

    }

    .collections__cards--card{
        &:nth-child(2){
            display: none;
        }

        &:nth-child(3){
            display: none;
        }
        .collections__card--images{
            display: flex;
            gap: 15px;
            margin-top: 15px;
        }

        .collections__card--title{
            font-size: 22px;
            font-weight: 600;
            margin-top: 15px;
        }

        .collections__card--desc{
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 0 10px;
        }
    }
}


@media (min-width:750px) {
    .collections{
        .collections__cards--card:nth-child(2){
            display: block;
        }
    }
}

@media (min-width:1070px) {
    .collections{
        .collections__cards--card:nth-child(3){
            display: block;
        }
    }
}


@media (min-width:992px) {
    .main{
        .navbar{
            display: block;
        }
    }

    .hero{
        display: none;
    }


}

@media (max-width:1050px) {
    .navbar__in{
        .navbar__right{
            .navbar__right--card{
                background-color: #3B3B3B;
                border-radius: 20px;
                .first-img{
                    width: 450px;
                }
            }
        }
    }
}